<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website</title>
  </head>
  <body>
    <form method="GET" action="/getuser">
      <fieldset style="width: fit-content">
        <legend>Get Method</legend>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Enter your email" />

        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
        />
        <input type="submit" />
      </fieldset>
    </form>
    <form method="POST" action="/postuser">
      <fieldset style="width: fit-content">
        <legend>Post Method</legend>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Enter your email" />

        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
        />
        <input type="submit" />
      </fieldset>
    </form>
    <!-- <form action="">
      <fieldset>
        <h1>Signup</h1>
        <label for="">Email</label>
        <input type="text" />

        <label for="">Password</label>
        <input type="password" />
      </fieldset>
    </form>
    <button>Delete All Users</button> -->
  </body>
</html>
